/* DIARY STYLES START */
.main-container {
    display: flex;
    flex-direction: column;
    gap:80px
}
.container-diary {
    display: flex;
    flex-direction: row; 
    margin: 20px;
    gap: 30px;
}
.container-calendar {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 30px;
}

.today {
    padding-top: 14px;
}

.today p {
    font-size: 14px;
    font-weight: 400;
}

.calendar button {
    border: 1px solid #AB9EED;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    width: 129px;
    height: 35px;
    font-size: 15px;
    color: #7B61FF;
}

.block-name-header {
    margin-right: 30px;
}

.header-title {
    font-size: 24px;
    font-weight: 400;
    border-top: 4px solid #FFD8E3;
    padding-top: 10px;

}

.block-name {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    padding-right: 20px;
    
}

.block-name-title {
     font-size: 24px;
    font-weight: 300;
}

.notes .block-name-title {
    border-top: 4px solid rgba(178, 138, 254, 0.33);
    padding-top: 10px;
}

.main-courses .block-name-title {
    border-top: 4px solid rgba(147, 226, 17, 0.3);
    padding-top: 24px;
}

.container-date .block-name-title {
    border-top: 4px solid rgba(147, 226, 17, 0.3);
    padding-top: 24px;
}

.container-courses .block-name-title {
    border-top: 4px solid rgba(147, 226, 17, 0.3);
    padding-top: 24px;
}

.notes button {
    border: 1px solid #AB9EED;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    width: 129px;
    height: 35px;
    font-size: 15px;
    color: #7B61FF;
}

.btn-icon {
    background: url(assets/icons/pencil.svg);
    float: left;
    width: 13px;
    height: 16px;
    margin-left: 15px;
    
}

.notes-header {
    width: 70%;
    margin-left: 30px;
}

.notes-text {
    font-size: 24px;
    font-weight: 300;
    color: #cfcfcf;
}

.notes-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.calendar {
    display: flex;
    width: 792px;
    height: 408px;
    border-radius: 0 0 30px 0;
    background: #fff;
}

.notes {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 408px;
    border-radius: 0 0 30px 0;
    background: #fff;
    justify-content: space-between;
}

.main-courses {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 481px;
    border-radius: 0 0 0 30px;
    background: #fff;
    width: 1262px;
}

.main-courses-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-courses nav {
    margin-top: 15px;
}

.course-nav li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 30px; 
    padding: 3px; 
}

.card-container {
    display: flex;
}

.card {
    width: 278px;
    height: 370px;
    margin: 30px;
    text-align: left;
    border: 1px solid #E3E3E3;
    border-radius: 4px
}

.card a {
    margin-left: 18px;
    font-size: 16px;
}

.courses-card a {
    margin-left: 18px;
    font-size: 12px;
}

.course-header {
    margin: 5px 18px 20px;
}

.course-description {
    margin: 5px 18px 25px;
    font-size: 12px;
    font-weight: 400;
    color:  #5E5E5E;
}

.container-date {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 30px;
}

.calendar-small {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 378px;
    border-radius: 0 0 0 30px;
    background: #fff;
}

.calendar-small a {
    font-size: 12px;
}

.calendar-small-content {
    margin-left: 30px;
}

.calendar-small-content .item {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 20px;
}

.calendar-small-content .time {
    margin-bottom: 10px;
}

.courses-tests {
    display: flex;
    flex-direction: column;
    width: 792px;
    height: 370px;
    border-radius: 0 0 0 30px;
    background: #fff;
}

.course-test-header {
    margin: 30px 18px 20px;
}

.courses-card-container {
    display: flex;
}

.courses-card {
    width: 224px;
    height: 270px;
    margin: 20px;
    text-align: left;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.courses-card-link {
    display: flex;
    align-items: flex-end;
    margin-top: 37px;
}


.container-courses {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 30px;
}

.courses-name {
    display: flex;
    flex-direction: column;
    width: 910px;
    height: 370px;
    border-radius: 0 0 0 30px;
    background: #fff;
}


.wrapper {
    width: 500px;
    height: 500px;
    position: relative;
}

.badge {
    position: absolute;
    display: flex;
}

.badge p {
    background-color: #de4973;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;    
}

.container-icon {
    display: flex;
}

.course-icon {
    width: 10px;
    height: 14px;
    background-color: #FDA700;
        
}

.calendar-nav li {
    display: inline-block;
    margin-right: 5px;
    
}

.description-header {
    color: #5E5E5E;
    font-size: 14px;
    font-weight: 400;
}

.first-link {
    background-color: #E5E5E5 ;
}

.second-link {
    background-color: #DE4973;
    color:#fff;
}

.content {
    font-size: 14px;
    font-weight: 400;
}



.calendar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px 30px 30px;
}

.calendar-wrapper .header {
    display: flex;
    justify-content: space-between;
}

.calendar-wrapper .content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.calendar-wrapper .content .item {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.calendar-wrapper .content .item .time {
    min-width: 20%;
}

.calendar-wrapper .content .item .icon {
    min-width: 10%;
}
/* DIARY STYLES END */