* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ptrootui';
    src: url('fonts/Ptrootui.ttf') format('truetype');
    src: url('fonts/Ptrootui.woff') format('woff');
    src: url('fonts/Ptrootui.woff2') format('woff2');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Ptrootui';
    src: url('fonts/Ptrootuibold.ttf') format('truetype');
    src: url('fonts/Ptrootuibold.woff') format('woff');
    src: url('fonts/Ptrootuibold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal; 
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.ttf');
}

body {
    font-family: 'Ptrootui';
    background: #E5E5E5;
}

a {
    text-decoration: none;
    font-size: 14px;
}

p {
    font-size: 14px;
}

li {
    list-style: none;
    margin-top: 20px;

}

h2 {
    padding-top: 24px;
    
}

.container {
    display: flex;
    padding-left: 35px;

}
.tab-content {
    display: none;
}
.tab-content.active {
    display: flex;
}
